In [27]:
# Dependencies and Setup
import pandas as pd

# File to Load (Remember to Change These)
file_to_load = "Data/Blue_whales_North.csv"

# Read Purchasing File and store into Pandas data frame
# df = pd.read_csv(file_to_load, index_col=0).reset_index()
df = pd.read_csv(file_to_load, index_col= 0)

df.drop(['argos:best-level','argos:calcul-freq','argos:iq','argos:lat1','argos:lat2','argos:lc','argos:lon1','argos:lon2','argos:nb-mes','argos:nb-mes-120','manually-marked-outlier','sensor-type','individual-taxon-canonical-name','tag-local-identifier'], axis = 1, inplace = True) 

df

,visible,timestamp,long,lat,individualID,study-name
event-id,,,,,,
9018011221,True,13:00.0,-122.433,37.058,1993CA-Bmu-00834,Blue whales Eastern North Pacific 1993-2008 - ...
9018011222,True,20:00.0,-122.412,37.012,1993CA-Bmu-10823,Blue whales Eastern North Pacific 1993-2008 - ...
9018011223,True,54:00.0,-122.415,37.022,1993CA-Bmu-10833,Blue whales Eastern North Pacific 1993-2008 - ...
9018011224,True,40:00.0,-122.773,37.198,1993CA-Bmu-10836,Blue whales Eastern North Pacific 1993-2008 - ...
9018011225,True,28:00.0,-123.102,37.687,1994CA-Bmu-10820,Blue whales Eastern North Pacific 1993-2008 - ...
...,...,...,...,...,...,...
9018027834,True,13:04.0,-115.027,26.702,2008CR-Bmu-01388,Blue whales Eastern North Pacific 1993-2008 - ...
9018027835,True,27:15.0,-115.930,26.972,2008CR-Bmu-01388,Blue whales Eastern North Pacific 1993-2008 - ...
9018027836,True,42:10.0,-119.121,30.734,2008CR-Bmu-01388,Blue whales Eastern North Pacific 1993-2008 - ...
9018027837,True,59:00.0,-119.172,30.742,2008CR-Bmu-01388,Blue whales Eastern North Pacific 1993-2008 - ...
9018027838,True,08:34.0,-117.927,31.318,2008CR-Bmu-01388,Blue whales Eastern North Pacific 1993-2008 - ...

In [32]:
blue1 = df[df["individualID"].str.contains("2005CA-Bmu-02082")]
print(len(blue1))

26

In [33]:
blue2 = df[df["individualID"].str.contains("2005CA-Bmu-01388")]
print(len(blue2))

75

In [34]:
blue3 = df[df["individualID"].str.contains("2005CA-Bmu-00845")]
print(len(blue3))

46

In [36]:
blue4 = df[df["individualID"].str.contains("2005CA-Bmu-01390")]
print(len(blue4))
blue4

285

,visible,timestamp,long,lat,individualID,study-name
event-id,,,,,,
9018011315,True,12:00.0,-122.015,36.668,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020238,True,20:36.0,-122.032,36.657,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020239,True,52:41.0,-121.947,36.707,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020240,True,59:26.0,-122.406,36.715,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020241,False,17:08.0,-121.766,36.809,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
...,...,...,...,...,...,...
9018020517,True,30:58.0,-113.011,25.816,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020518,True,32:28.0,-116.393,28.827,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020519,True,37:45.0,-113.005,26.180,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020520,True,27:44.0,-113.172,23.410,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...
9018020521,True,45:42.0,-113.109,26.121,2005CA-Bmu-01390,Blue whales Eastern North Pacific 1993-2008 - ...

In [37]:
blue_whales = [blue1, blue2, blue3, blue4]

In [ ]:
whale_whale_whale = pd.concat(blue_whales)

In [38]:
results = whale_whale_whale.to_html(index=False)

AttributeError: 'list' object has no attribute 'to_html'

In [10]:
# html = df.to_html("blue_fin_table.html", index=False) 

# # write html to file 
# text_file = open("blue_fin_table.html", "w") 
# text_file.write("html") 
# text_file.close()

In [21]:
import numpy as np
from pandas import * 
# df = pd.read_csv(file_to_load, index_col= 0)
df.to_html('Swallows_Table1.html')